<p>
  <mat-toolbar color="warn">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>verified_user</mat-icon>
    </button>
    <span>HEVoting</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<div class="container">
  <div class="row">
    <h2>Kreiraj Glasanje</h2>
  </div>

  
  <mat-form-field>
    <mat-label>Početak glasanja</mat-label>
    <input [(ngModel)]='startTime' matInput type="datetime-local" placeholder="start date">
  </mat-form-field>

  <br/>

  <mat-form-field>
    <mat-label>Kraj glasanja</mat-label>
    <input [(ngModel)]='endTime' matInput type="datetime-local" placeholder="end date">
  </mat-form-field>

  <form [formGroup]="form" (submit)="submit(form.value)">
    <div class="row">
      <fieldset>
        <legend>Tema:</legend>

        <label for="title-name">Tema:</label>
        <input type="text" id="title-name" name="title-name" placeholder="(required)" formControlName="title">
        <br><br>
      </fieldset>
    </div>

    <div class="row">
      <fieldset>
        <legend>Kandidati:</legend>
        <ng-container formArrayName="contacts" *ngFor="let contact of contacts.controls; index as i">
          <ng-container [formGroupName]="i">
            <label for="name">Kandidat #{{i+1}}:</label>
            <input type="text" id="name" name="name" formControlName="name">

            <button class="btn btn-danger" type="button" (click)="removeContactField(i)">&#x2718;</button>

            <br><br>
          </ng-container>
        </ng-container>


      </fieldset>

    </div>

    <button class="btn btn-info" type="button" (click)="addContactField()">Dodaj</button>
    <button class="btn btn-secondary" type="button" (click)="reset()">Reset</button>
    <hr />
    <br />
    <button class="btn btn-success" [disabled]="!checkConfirm" type="submit">Objavi</button>
  </form>

  <label for="confirm">Potvrda</label>
  <input type="checkbox" name="checkConfirm" [(ngModel)]="checkConfirm">
  <br />
</div>

{{msg}}