
    <div id="fullpage">
        <!-- start home -->
        <div id="home" class="section">

            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 wow fadeIn">
                        <h1>HEVoting</h1>
                        <h2 class="rotate">Online voting platform using homomorphic encryption</h2>
                        <p id="descriptiontext">Powered by Drogon, Angular and Microsoft SEAL</p>
                        <a id="login-btn" routerLink="/login" class="btn btn-default smoothScroll wow fadeInUp"
                            data-wow-delay="1s">Login</a>
                            <br/> <br/>
                            <button id="register-btn"  routerLink="/register" mat-flat-button color="accent">Register</button>
                        
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
           
        </div>
        <!-- end home -->

        <!-- start work -->
        <div id="work" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow bounce">
                        <h2>Why Homomorphic Encryption?</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="media">
                            <div class="media-objectpull-left">
                                <mat-icon aria-hidden="false" aria-label="Ballot" fontIcon="how_to_vote"></mat-icon>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">Tallying</h3>
                                <p>Votes are tallied real-time, without decrypting individual votes. Only the final tally will be decrypted for all to see.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="media">
                            <div class="pull-left">
                                &nbsp;
                                <mat-icon aria-hidden="false" aria-label="Checking" fontIcon="rule"></mat-icon>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">Verifiability</h3>
                                <p>The ciphered final tally will be released into the public, along with everyone's encrypted votes. 
                                    Anyone with a computer will be able to tally the results themselves, to verify or disprove the final tally.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="media">
                            <div class="media-object media-left pull-left">
                                <mat-icon aria-hidden="false" aria-label="Home security" fontIcon="screen_lock_portrait"></mat-icon>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">Accessibility</h3>
                                <p>Civic duties made easy. Let your vote be cast from the comfort of your own home, using nothing but a personal device, and know they will be securely delivered, processed and stored.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end work -->

        <div id="portfolio" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wow backInLeft"></h2>
                    </div>
                </div>
                
                
            </div>
        </div>

    </div>
<!-- start about -->
<!--<div id="about" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-xs-11 wow fadeInLeft" data-wow-delay="0.9s">
						<h2>ABOUT LAVISH</h2>
						<h4>DESIGNER &AMP; DEVELOPER</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
						<p>Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
					</div>
					<div class="col-md-6 col-xs-11 wow fadeInRight" data-wow-delay="0.9s">
						<span class="text-top">Web Design <small>95%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
							</div>
						<span>Mobile Apps <small>80%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
							</div>
						<span>SEO Stuffs <small>70%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
							</div>
						<span>HTLM5 &AMP; CSS3 <small>90%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
							</div>
					</div>
				</div>
			</div>
		</div> -->
<!-- end about -->

<!-- start contact -->
<!-- <div id="contact" class="section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-lg-offset-1 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
						<address>
							<p class="contact-title">CONTACT ME</p>
							<p><i class="fa fa-phone"></i> 090-080-0760</p>
							<p><i class="fa fa-envelope-o"></i> info@company.com</p>
							<p><i class="fa fa-map-marker"></i> 120 Old Walking Street, GL 16060</p>
						</address>
					</div>
					<div class="col-lg-6 col-md-6 col-xs-10 wow fadeInUp" data-wow-delay="0.6s">
						<form role="form" method="post" action="#">
							<input name="name" type="text" class="form-control" id="name" placeholder="Your Name">
							<input name="email" type="email" class="form-control" id="email" placeholder="Your Email">
							<textarea name="message" rows="5" class="form-control" id="message" placeholder="Your Message"></textarea>
							<input name="send" type="submit" class="form-control" id="send" value="SEND ME">
						</form>
					</div>
					<div class="col-md-1 col-sm-1"></div>
				</div>
			</div>
		</div> -->
<!-- end contact -->

<!-- start footer -->