.custom-shape-divider-bottom-1707155682 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707155682 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1707155682 .shape-fill {
    fill: #FFFFFF;
}

.landing-header {
    background:url("../../../assets/img/voteimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 140px;
    text-align: center;

}

.landing-header h1{
    color:antiquewhite;
    border-bottom: 2px solid antiquewhite;
}